@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(34,34,34, 0.4);
    }
    70% {
        box-shadow: 0 0 0 100px rgba(34,34,34, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(34,34,34, 0);
    }
}

.pulse {
  position: absolute;
  height: 60vh;
  width: 60vh;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(34,34,34, 0.4);
  animation: pulse 2s infinite;
}

@media screen and (max-width: 640px) {
  .pulse {
    height: 60vw;
    width: 60vw;
  }
}

@keyframes colorchange
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}

@-webkit-keyframes colorchange
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}