@import 'colors';

html,
body,
#root {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    text-align: left;
}

a {
    &:link,
    &:visited,
    &:active {
        color: #0080a5;
        text-decoration: none;
    }
    &:hover {
        cursor: pointer;
    }
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
    background-color: rgba(0,0,0,0);
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}
 
::-webkit-scrollbar-thumb:vertical {
    background: rgba(0,0,0,0.5);
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    min-height: 8px;
}
::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0,0,0,0.61);
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.5);
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    min-width: 8px;
}
::-webkit-scrollbar-thumb:active {
    background: rgba(0,0,0,0.61);
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.current-pagination {
    background-color: rgba(22, 22, 22, 0.1) !important;
    font-weight: 800 !important;
}
